@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    height: 100%;
}



section {
    background-color: #fff;
    margin-top: -5px;
    border-radius: 0 0 15px 15px;
    padding: 0 10px;
}

main {
    
    
    width: 320px;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 6%;
}
#texto > h1 {
    text-align: center;
    padding: 30px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.815);
}
#texto > p {
    margin: 0px 20px 20px 20px;
    text-align: center;
    line-height: 1.8em;
    color: slategray;
}
picture img {
    width: 320px;
    border-radius: 15px 15px 0px 0px;
}
#opcao {
    margin: auto;
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 15px 0;
    border-radius: 10px;
    margin: 30px auto 20px auto;
}

#opcao > a {
    display: flex;
    align-items: center;
    font-weight: 600;
}

#opcao > div{
    display: inline-block;
}
#plano h2, p{
    height: 50%;
}
#plano p {
    color: slategray;
}

h2 {
    font-size: 1em;
}

#botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 90%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-weight: 600;
    background-color: hsl(245, 75%, 52%);
    margin: 5px 0;
    box-shadow: 0px 7px 20px 1px hsla(245, 75%, 52%, 0.377);
}

button:hover{
    cursor: pointer;
}

button#cancel {
    background-color: transparent; 
    color: #000; 
    margin-bottom: 15px; 
    box-shadow: none;
}